/* Main column width */
.editor-post-title__block .editor-post-title__input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wp-block {
  max-width: 1000px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 1150px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}
