h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  line-height: 1.44;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 900;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}