#sitename-wrapper {
    padding: 0 0 12px 10px;
    font-size: 24px;

    a {
        color: #666666;
        font-weight: bold;
        white-space: nowrap;
        text-decoration: none;
        border-bottom: none;
        transition: none;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: -0.5px;
        line-height: 1;
        margin-top: 5px;
        overflow: hidden;
    }

    #parent-site {
        color: #2a2a2a;
    }

    #parent-site:hover,
    #current-site:hover {
        color: #d23153;
    }
}