/* CSS Grid Layout for the whole site. */

#page {
	display: grid;
	grid-template-areas: "navigation content";

	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0;
}

#masthead {
	grid-area: navigation;
	z-index: 1000; /* so the menu or its navicon stays above all content */
	background: #353535;
}

#content {
	grid-area: content;
}

#mobile-header {
	grid-area: mobile-header;
	background: #353535;
	display: none;
}

#mobile-title {
	grid-area: mobile-title;
	background: #8c1d40;
	display: none;
}

// #page #innovation-footer {
// 	grid-area: global-footer;
// 	position: relative; /* Overrides default CSS from the ASU Module */
// }

/* Collapse everything into a single columm */
@media (min-width: 0) and (max-width: 990px) {
	#page {
		grid-template-areas:
			"mobile-header"
			"mobile-title"
			"content";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
	}

	#mobile-header,
	#mobile-title {
		display: grid;
	}

	#masthead {
		position: fixed; /* or choose `absolute` depending on desired behavior*/
		top: 0;
		bottom: 0;
		width: 300px;
		left: -340px;
		transition: transform 0.3s ease-in-out;
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.85);

		&:target {
			transform: translateX(340px);
		}

		a.toggle.close {
			display: block;
		}

		.site-branding,
		.endorsed-logo {
			display: none;
		}

		#menu {
			margin-top: 50px;
		}
	}

	// #innovation-footer .footer-menu ul.default {
	// 	display: block;
	// 	text-align: center;
	// 	margin: 0;
	// 	padding: 1em 0;

	// 	li {
	// 		float: none;
	// 		display: inline;
	// 		text-align: center;

	// 		&:last-child a:after {
	// 			content: "";
	// 			padding-left: 0;
	// 		}
	// 	}

	// 	a {
	// 		padding: 0;
	// 		margin-right: 10px;

	// 		&:after {
	// 			content: "-";
	// 			padding-left: 15px;
	// 		}
	// 	}
	// }
}
