/* CSS Grid Layout for the whole site. */

#page {
  display: grid;

  grid-template-areas:
  "global-header global-header"
  "navigation content"
	"global-footer global-footer";

  grid-template-columns: 300px 1fr;
  grid-template-rows: 110px 1fr 105px;
  grid-gap: 0;

  height: 100vh;
}

#asu-global-header {
	grid-area: global-header;
}

#masthead {
	grid-area: navigation;
	z-index: 1000; /* so the menu or its navicon stays above all content */
	background: #353535;
}

#content {
  grid-area: content;
}

#page #innovation-footer {
	grid-area: global-footer;
	position: relative; /* Overrides default CSS from the ASU Module */
}

/* Collapse everything into a single columm */
@media (min-width: 0) and (max-width: 990px) {

  #page {
    grid-template-areas:
      "global-header"
      "content"
      "global-footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  #masthead {
    display:none;
  }

  // asumobile.js creates an .empty element that acts as a section break.
  // Styled to look exactly like the dropdown title.
  #asu_universal_nav_new .empty > span {
    display: block;
    padding: 12px 15px;
    color: #fff;
    background-color: #505558;
    line-height: 1em;
    letter-spacing: -0.5px;
  }

  #main-search form label {
    display: none;
  }

  #innovation-footer .footer-menu ul.default {
    display:block;
    text-align:center;
    margin:0;
    padding:1em 0;

    li {
        float:none;
        display:inline;
        text-align:center;

        &:last-child a:after {
          content:"";
          padding-left:0;
        }
    }

    a {
        padding:0;
        margin-right:10px;

        &:after {
          content:"-";
          padding-left:15px
      }
    }
  }
  
}