.archive {
	#main article .entry-content {
		> * {
			width: 100%;
		}

		.entry-meta {
			width: auto;
			margin: 0;
		}
	}

	.page-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1em 0 2em 0;

		h1 {
			@include normal-width;
			margin: 0 auto;
		}

		.archive-description {
			@include normal-width;
			margin: 0 auto;
		}
	}

	.post {
		display: flex;
		justify-content: flex-start;

		@include normal-width;
		margin: 0 auto 2em auto;
		padding: 1em;
		background: #f0f0f0;

		.entry-header {
			flex: 1 0;
			position: relative;
			right: 2em;

			img {
				border: 2px solid transparent;

				&:hover {
					border: 2px solid $color__link;
				}
			}
		}

		.entry-content {
			flex: 2;
			margin-top: 0;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			.entry-title {
				margin: 0;
			}
		}

		.entry-meta {
			padding: 0.5em 0.75em;
			color: #222222;
			background-color: #ffc627;
			font-weight: 500;
			text-align: right;
			align-self: flex-end;
			margin-top: auto;
			left: 2em;
			position: relative;

			svg {
				margin-right: 10px;
			}

			> span:after {
				content: "|";
				padding: 0 20px;
			}

			> span:last-child:after {
				content: "";
				padding: 0;
			}
		}
	}

	.posts-navigation {
		@include normal-width;
		margin: 0 auto 2em auto;
	}
}
