.breadcrumbs {

    & &__trail {
        padding:0;
        margin:0;
    }

    & &__crumb {
        list-style-type: none;
        display:inline;
        font-size:1em;

        &:after {
            content: "\00BB"; //raquo
            padding:0 10px;
        }

        &:last-child:after {
            content:"";
        }
    }
}