// CPT Person - single-person
.single-person {
	
	.entry-header {
		display:flex;
		flex-direction: column;
		align-items:center;
		background-color:#222222;
        padding:2em 0;
        
        @include desktop-down {
            padding: $desktop-padding;
        }

	}

    .display-person {
        @include max-width;
        display:flex;
		flex-direction: row;
		justify-content:flex-start;
        position: relative;
    }

    .entry-title {
        position:absolute;
        bottom:0;
        left:420px;
        width:auto;
        padding:0;
    }

    .person-name {
        background-color: #8c1d40;
        color: #ffffff;
        padding:5px 10px;
        display:inline-block;
        font-size:50px;
        margin: 0 0 10px -50px;
	}

    .person-tagline {
        color: #ffffff;
        font-weight: 500;
        display:block;
        margin:0 0 10px 0;
    }

    .contact-details{
        margin:0;
        padding:0;

        li {
            list-style-type:none;
            display: block;
            text-align:right;
        }
    }

    #content {
        
        .isearch-profile {
            padding:.75em 0;
            background-color:#5c6670;

            @include desktop-down {
                padding-left: $desktop-padding;
                padding-right: $desktop-padding;
            }

            .container {
                @include max-width;
                margin:0 auto;
            }

            a.isearch-url {
                color:#ffffff;
                font-weight:500;
                font-size:1.5rem;
                border-bottom-color:#ffffff;
            }

            a.icon {
                color:#ffffff;
                font-weight:500;
                font-size:2.5rem;
                border-bottom:0px;

                svg {
                    margin-left:15px;
                }
            }

            a:hover {
               color:#c4c4c4;
            }

            .social {
                float:right;
                padding-left:10px;
                margin-top:-10px;
            }
        }

        .contact-details li a {
            font-weight:500;
            color:#ffffff;
            line-height:1.5;
            font-size:1.5rem;
            border-bottom-color:#ffffff;
        }
    }

    .entry-content {
        padding-top:2em;
        padding-bottom:2em;

        @include desktop-down {
            padding: $desktop-padding;
        }
    }

    .person-details {
        @include max-width;
        margin:0 auto 5em auto;
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        border-top:1px solid #cccccc;

        @include desktop-down {
            padding-left: $desktop-padding;
            padding-right: $desktop-padding;
        }

        h3 {
            flex: 0 0 100%;
            width:100%;
        }

        div {
            flex: 1 1 auto;
        }

        ul {
            margin:0;
        }

    }

}

// CPT Person - single-person
.post-type-archive-person {
    .site-main .page-header {
        background-color:#222222;
        color:#ffffff;
        padding: 2.5em 0 1em 0;

        .page-title {
            border-bottom:1px solid #ffffff;
        }

        @include desktop-down {
            padding-left: $desktop-padding;
            padding-right: $desktop-padding;
        }
    }

    #primary section {
        @include desktop-down {
            padding-left: $desktop-padding;
            padding-right: $desktop-padding;
        }
    }

    .person {
        display:flex;
		flex-direction: column;
		align-items:center;
        padding-bottom: 1.5em;
        margin-bottom:0;
        
        .entry-content {
            @include max-width;
            display:block;
            position: relative;
        }

        .post-thumbnail {
            float:left;
            margin-right:20px;

            a {
                border-bottom:0;
            }

            .placeholder-img {
                width:300px;
                height:auto;
            }
        }

        .entry-title {
            position:absolute;
            top:25px;
            left:250px;
            padding:0;
            margin:0;
        }

        .person-name {
            background-color:$color__link;
            color:#ffffff;
            padding:5px 10px;
            font-size:35px;
            margin: 0;

            &:hover {
                background-color:$color__link-hover;
            }
        }

        .person-tagline {
            font-weight: 500;
            position: relative;
            top: 90px;
            margin: 0 0 0 320px;
        }

        .description {
            font-weight: 400;
            position: relative;
            top: 90px;
            margin: 0 0 0 320px;
        }

        .contact-details{
            margin: 0 0 0 320px;
            padding:0;
            position:relative;
            top:100px;
            display:block;

            li {
                list-style-type:none;
                display: inline;
                text-align:left;

                &:after {
                    content: "\00B7";
                    margin:0 10px;
                }

                &:last-child:after {
                    content:"";
                }
            }
        }
    }
    
    #featured {
        
        background-color:#222222;
        padding-bottom: 2em;

        .person-tagline, .description {
            color:#ffffff;
        }

        .featured-person .contact-details {
            & a, & a:visited {
                color:#ffffff;
                border-bottom-color:#ffffff;
            }

            & a:hover {
                border-bottom-style:solid;
            }
        }
    }

    .nonfeatured {

        display:flex;
		flex-direction: row;
        flex-wrap:wrap;
        @include max-width;
        margin:0 auto;

        h2 {
            flex: 0 0 100%;
            border-bottom:1px solid #d3d3d3;
        }

        .person {
            flex: 1 0 45%;
        }
        
        .post-thumbnail {
            max-width:200px;

            .placeholder-img {
                max-width:200px;
            }
        }

        .entry-title {
            left:170px;
        }

        .person-tagline {
            margin-left:220px;
        }

        .contact-details {
            margin-left:220px;

            li {
                list-style-type:none;
                display: block;
                margin-bottom:5px;

                &:after {
                    content: "";
                }
            }

            .office-location {
                display:none;
            }
        }

        .description {
            display:none;
        }
    }
}