.tax-research-theme {

    .page-header {
        background-color:#222222;
        color:#ffffff;

        .container {
            @include max-width;
            margin:0 auto;
            display:flex;
            flex-direction: row;
            align-items:center;
            padding:1em 0;

            @include desktop-down {
                padding-left: $desktop-padding;
                padding-right: $desktop-padding;
            }
        }

        a {
            color:#ffffff;
            border-bottom-color:#ffffff;
        }

        .pretext {
            background-color: #ffc627;
            color:#222222;
            padding: 5px 10px;
            margin-bottom:5px;
            font-weight: 500;
            text-align: left;
        }

        h1.page-title {
            border-bottom:1px solid #ffffff;
            margin-bottom:10px;
        }
    }

    .term-meta {
        flex:3 0 60%;
        margin-top:.5em;
        padding-top:.5em;
        padding-right:2em;
		display:flex;
		flex-wrap:nowrap;
		justify-content: flex-end;
		flex-direction: column;
		align-items:flex-start;
        border-top:0;

		.breadcrumbs {
			flex:1 1 auto; 
			align-self: flex-start;
		}
	}

    .term-image {
        flex: 1 0 40%;
        text-align:left;
        width:35%;
    }

    .section-label {
        @include max-width;
        margin:1em auto;

        @include desktop-down {
            padding: 0 32px // $desktop-padding = 32px in most settings.
        }
    }

    article.research {
        @include max-width;
        margin:0 auto 2em auto;
        display:flex;
        flex-direction: row;
        background-color:#f0f0f0;

        @include desktop-down {
            @include max-width(635px);
        }

        .entry-header {
            flex:1 0 30%;
            
            .post-thumbnail {
                position:relative;
                top:20px;
                left:-20px;
                margin-bottom:20px;
            }

            .status {
                position:relative;
                left:-20px;
                background-color:#ffc627;
                color:#222222;
                padding:5px 10px;
                font-weight:500;
                top:15px;

                span {
                    display:block;
                    font-weight:300;
                }
            }
        }

        .entry-content {
            flex: 2 0 65%;
            padding-right:2em;
        }

        .entry-title {
            margin:0;
            line-height:1.15;
        }
        
    }

    article.publication {
        @include max-width;
        margin:0 auto 2em auto;
        display:flex;
        flex-direction: row;
        background-color:#f0f0f0;

        @include desktop-down {
            @include max-width(635px);
        }

        .entry-header {
            flex:1 0 5%;
            
            .post-thumbnail {
                position:relative;
                top:20px;
                left:-20px;
                margin-bottom:20px;

                .wp-post-image {
                    max-height:200px;
                    width:auto;
                    margin-bottom:1em;
                }

                .outline {
                    border: 3px solid #000000;
                    border-radius: 3px;
                }
            }

            .status {
                position:relative;
                left:-20px;
                background-color:#ffc627;
                color:#222222;
                padding:5px 10px;
                font-weight:500;
                top:15px;

                span {
                    display:block;
                    font-weight:300;
                }
            }
        }

        .entry-content {
            flex: 2 0 65%;
            padding-right:2em;
        }

        .entry-title {
            margin:0;
            line-height:1.15;
        }
    }
}