.single-research {
	.entry-header {
		background-color: #f0f0f0;

		.container {
			@include normal-width;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 1em 0;

			@include desktop-down {
			}
		}
	}

	.post-thumbnail {
		flex: 1 0 40%;
		text-align: left;

		a {
			border: 2px solid #c4c4c4;
			display: inline-block;

			&:hover {
				border-color: #8c1d40;
			}
		}
	}

	.entry-title,
	.entry-meta {
		@include normal-width;
	}

	.entry-title {
		@include font-size(3);
		margin-top: 0;
		margin-bottom: 0;
		padding: 0.3em 0;
		border-bottom: 1px solid #c4c4c4;
	}

	.entry-meta {
		margin-top: 0.5em;
		padding-top: 0.5em;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-start;
		border-top: 0;

		.breadcrumbs {
			flex: 1 1 auto;
			align-self: flex-start;
		}
	}

	.entry-content {
		.content-meta .poster svg {
			font-size: 2.5em;
		}
	}

	.entry-footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h3 {
			flex: 0 0 100%;
			border-bottom: 1px solid #d3d3d3;
		}

		p {
			font-size: 0.9rem;
			margin: 10px auto;
		}

		.related-person,
		.related-publication,
		.funding-sources {
			flex: 1 0 33.3%;
			padding-right: 2em;
		}

		@include mobile {
			.related-person,
			.related-publication,
			.funding-sources {
				flex: 1 0 100%;
				padding-right: 0;
			}
		}

		.placeholder-img {
			max-width: 80px;
		}

		.person {
			margin-bottom: 1em;

			.thumbnail {
				float: left;
				margin-right: 10px;
			}

			.person-name {
				display: inline;
			}
		}

		.detail-publication {
			ul {
				margin: 0;
			}
		}

		.fund {
			margin-bottom: 1em;

			.placeholder-img {
				float: left;
				margin-right: 10px;
			}

			h4 {
				display: inline;
			}
		}
	}
}

.archive.post-type-archive-publication {
	.page-header {
		background-color: #f0f0f0;
		padding: 2em 0 1em 0;
	}

	article.publication {
		@include normal-width;
		margin: 0 auto;

		.entry-title {
			line-height: 1.15;
		}
	}

	#featured {
		background-color: #f0f0f0;
		padding-bottom: 2em;

		.permalink {
			display: none;
		}
	}

	#unfeatured {
		padding: 2em 0 5em 0;

		.entry-title {
			display: none;
		}

		.publication .entry-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.citation {
				flex: 3 0 70%;
				padding-right: 1em;

				p {
					margin: 0;
				}
			}

			.entry-meta {
				flex: 1 0 25%;
				border-left: 1px dotted #cccccc;
				padding-left: 1em;

				span {
					display: block;
				}
			}
		}
	}

	section > h2 {
		@include normal-width;
		margin: 0 auto;
	}
}
